<div id="mi-estado-h1">
  <h1>¿Cual es tu estado?</h1>
  <div id="botones">
    <button type="button" class="btn btn-success pres-aus"><b>PRESENTE</b></button>
    <button type="button" class="btn btn-danger pres-aus"><b>AUSENTE</b></button>
  </div>
  <div class="ver-lista-btn">
    <button type="button" class="btn btn-primary" routerLink="/lista">Ver lista</button>
  </div>
  <div class="volver-btn">
    <button type="button" class="btn btn-primary" routerLink="/inicio">Volver al menú</button>
  </div>
</div>
